.figure-container{
    display: flex;
    padding: 28px;
    gap: 16px;
    margin-bottom: 100px;
}

.figure-img{
    width: 55%;
}

.figure-big-img img{
    width: 100%;
}

.small-imgs{
    display: flex;
    width: 100%;
    gap: 8px;
    justify-content: center;
}

.img-arrow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-arrow{
    font-size: 2rem;
    cursor: pointer;
}

.small-imgs img {
    opacity: 0.6;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.small-imgs  img:nth-child(n+3){
    opacity: 1;
}

.figure-info {
    display: flex;
    padding: 8% 6% 0px 2%;
    width: 45%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.figure-info-header{
    text-align: center;
    margin-bottom: 20px;
}

.figure-name{
    font-size: 2rem;
    font-weight: bold;
}

.new-price{
    font-size: 1.2rem;
    font-weight: bold;
    color: #FF0000;
}
.old-price{
    text-decoration: line-through;
    color: #FF0000;
    text-align: center;
    opacity: 0.6;
}

.btn-range{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px 0px;
}

.figure-btns{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0px;
}

.figure-btns button{
    background-color: #BB0245;
    color: #FDC8AA;
    border-radius: 12px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.input-number {
    display: flex;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  
  .number-input {
    width: 100px;
    padding: 5px;
    height: 30px;
    text-align: center;
    border: #e1e1e1 solid 1px;
    text-align: center;
  }
  
  .decrease-btn,
  .increase-btn {
    width: 30px;
    height: 30px;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .decrease-btn:hover,
  .increase-btn:hover {
    background-color: #e1e1e1;
  }
  
  .decrease-btn {
    /* border-radius: 15px 0 0 15px; */
  }
  
  .increase-btn {
    /* border-radius: 0 15px 15px 0; */
  }

  input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the number input arrows for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.figure-description {
    font-size: large;
}

.figure-description i{
    margin-right: 10px;
    
    /* font-weight: lighter; */
}

/* detail PART 2 */

.detail-part2 {
    display: flex;
    position: relative;
    padding: 10px 30px;
}

.detail-part2-overlay{
    position: absolute;
    z-index: -1;
    background-color: #FFEEE5;
    top: 10%;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 55%;
}

.part2-figure-info {
    width: 45%;
    padding-left: 40px;
    font-size: larger;
}

.p2-f-img{
    width: 55%;
    display: flex;
}

.p2-f-img img{
    width: 100%;
}

.p2-f-name {
    font-family: 'Pacifico';
    font-size: 3.5rem;
    color: #76A0B8;
    margin-bottom: 16px;
}

.p2-f-detail-info{
    padding-left: 35px;
    margin-top: 10px;
}

.p2-f-detail-info div{
    margin-top: 10px;
}

/* END OF PART 2 */


/* PART 3 */

.detail-part3{
    display: flex;
    width: 100%;
    padding: 12px 42px;
    gap: 40px;
}

.comments {
    width: 50%;
}

.your-comment{
    width: 50%;
}

.cm-header{
    font-size: 2.2rem;
    font-family: 'Pacifico';
    margin-bottom: 18px;
}


.fa-star,.checked, .fa-star-half-alt {
    color: orange;
}


.comment-list-cards {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 12px;
}

.comment-card{
    background-color: rgba(253, 205, 179, 0.43);
    border-radius: 20px;
    padding: 8px 16px;
    display: flex;
    gap: 12px;
    color: #8D0033;
    font-family: 'Open Sans';
}

.cm-title{
    font-weight: bold;
}

.cm-content{
    font-weight: lighter;
    padding-right: 10%;
}

.cm-img img {
    border-radius: 50%;
    width: 80px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.your-rating{
    display: flex;
    gap: 20px;
}

.ycomment-name{
    margin-top: 16px;
}

.ycomment-name, .ycomment-content, .ycomment-email {
    font-style: italic;
    font-weight: 550;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

.ycomment-name input, .ycomment-content textarea, .ycomment-email input {
    color: #8D0033;
    background-color: rgba(253, 205, 179, 0.43);
    border-radius: 15px;
    padding: 10px 20px;
    border: none;
    
}


@media only screen and (max-width: 1400px) {
    .figure-container{
        display: flex;
        flex-direction: column;
    }
    .figure-img{
        width: 100%;
    }

    .figure-info {
        width: 100%;
    }

    .detail-part2{
        flex-direction: column;
    }
    
    .part2-figure-info {
        width: 95%;
    }

    .p2-f-img{
        width: 100%;
        justify-content: flex-end;
    }

    .detail-part2-overlay{
        top: 5%;
        height: 55%;
    }

    .detail-part3{
        flex-direction: column;
    }
    .comments{
        width: 100%;
    }
    .your-comment{
        width: 100%;
    }
}


@media only screen and (max-width: 950px) {
    .detail-part2-overlay{
        top: 12%;
        height: 75%;
    }
}
/* END OF PART 3 */